img {
    width: 40px;
    height: 40px;
}

.flex-col-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.grey {
    color: rgba(160, 162, 166, 1);
}

.color {
    color: rgba(13, 147, 241, 1);
}

.white {
    color: white;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex {
    display: flex;
}

.half {
    flex: 1;
}

.font10_grey {
    font-size: 10px;
    color: rgba(160, 162, 166, 1);
}

.font10 {
    font-size: 10px;
}

.font12 {
    font-size: 12px;
}

.font14 {
    font-size: 14px;
}

.font13 {
    font-size: 13px;
}

.font15 {
    font-size: 15px;
}

.font17 {
    font-size: 17px;
}

.font20 {
    font-size: 20px;
}

.font28 {
    font-size: 28px;
}

.margin3 {
    margin-right: 3px;
}

.all{
    width:100%
}